@using Entities;
@using ServiceConstracts.DTO;
@model List<DoctorResponse>

@*Search Bar*@
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-controller="Doctors" asp-action="Index" asp-route-searchby= "@ViewBag.CurrentSearchBy" method="get" >
                <div class="input-group mb-3" >
                    <select class="form-select" style="max-width: 150px;" name="searchBy">
                        @* <option value="@nameof(DoctorResponse.DoctorName)">Doctor Name</option>
                        <option value="@nameof(DoctorResponse.Specialization)">Specialization</option>
                        <option value="@nameof(DoctorResponse.Address)">Address</option>
                        <option value="@nameof(DoctorResponse.CityName)">City Name</option> *@
                        @foreach (var field in ViewBag.SearchFields){
                            if (field.Key == ViewBag.CurrentSearchBy)
                            {
                                <option value=@field.Key selected>@field.Value</option>
                            }
                            else{
                                <option value=@field.Key>@field.Value</option>

                            }
                                
                        }
                    </select>
                    
                    <input type="text" class="form-control" placeholder="Search..." name="searchString" value="@ViewBag.CurrentSearchString">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div style="margin-bottom:15px">
    <a asp-controller="Doctors" asp-action="DoctorsPdf" asp-route-doctorsList="@Json.Serialize(Model)">
        <button type="button" class="btn btn-secondary">Export as Pdf</button>
    </a>
</div>
@*Table for Doctors*@ 
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData)
            {
            {"ColumnName", nameof(DoctorResponse.DoctorName)},
            {"DisplayName", "Doctor Name"}
            })
            <th scope="col">Specialization</th>
            <th scope="col">City Name</th>
            <th scope="col">Address</th>
            @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData)
            {
            {"ColumnName", nameof(DoctorResponse.ExaminationPrice)},
            {"DisplayName", "Examination Price"}
            })
            <th scope="col">Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (DoctorResponse doctor in Model){
            <tr>
                <th scope="row">@i</th>
                <td>@doctor.DoctorName</td>
                <td>@doctor.Specialization</td>
                <td>@doctor.CityName</td>
                <td>@doctor.Address</td>
                <td>@doctor.ExaminationPrice</td>
                <td>@doctor.PhoneNumber</td>
            </tr>
            i++;
            

        }
    </tbody>
</table>